*, nav a {
    text-decoration: none;
    [target-current] {
        font-weight: bolder;
    }
    transition: opacity 200ms;
}

$background-blur: 50px;
$primary-border-color: rgba(90,90,90,0.75);
$secondary-border-color: rgba(90,90,90,0.75);

.text-shadow-1 {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.box-shadow-1 {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.abs {
    position: absolute;
    &.sqr100px {
        min-height: 100px;
        min-width: 100px;
    }
    &.cir100px {
        min-height: 100px;
        min-width: 100px;
        border-radius: 100px;
    }
    &.cir200px {
        min-height: 200px;
        min-width: 200px;
        border-radius: 200px;
    }
    &.cir300px {
        min-height: 300px;
        min-width: 300px;
        border-radius: 300px;
    }
    &.cir500px {
        min-height: 500px;
        min-width: 500px;
        border-radius: 500px;
    }
    &.blur100px {
        filter: blur(100px);
    }
    &.blur200px {
        filter: blur(200px);
    }
    &.blur300px {
        filter: blur(300px);
    }
    &.blur500px {
        filter: blur(500px);
    }
    &.white {
        background-color: white;
    }
    &.white-50 {
        background-color: white;
        opacity: 0.5;
    }
    &.white-25 {
        background-color: white;
        opacity: 0.25;
    }
    &.blue {
        background-color: blue;
    }
}

.fade-out {
    opacity: 0;
}

.primary {
    &.bg {
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur($background-blur);
    }
    &.bg-2 {
        background-color: rgba(0,0,0,1);
    }
    &.bd-1px {
        border: 1px solid $primary-border-color;
    }
    &.bd-2px {
        border: 2px solid $primary-border-color;
    }
}

.secondary {
    &.bg {
        background-color: rgba(0,0,0,0.6);
        backdrop-filter: blur($background-blur);
    }
    &.bg-2 {
        background-color: rgba(10,10,10,1);
    }
    &.bd-1px {
        border: 1px solid $secondary-border-color;
    }
    &.bd-bot-1px {
        border-bottom: 1px solid $secondary-border-color;
    }
    &.bd-top-1px {
        border-top: 1px solid $secondary-border-color;
    }
    &.bd-2px {
        border: 2px solid $secondary-border-color;
    }
}

.tertiary {
    &.bg {
        background-color: rgb(84, 84, 244);
    }
}